PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.ancxt13.mongodb.net/event_ticketing?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_strong_secret_here
JWT_EXPIRE=24h
NODE_ENV=development
